<form method="post" action="{{ path('prod_history_delete', {'id': prod_history.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prod_history.id) }}">
    <button class="fa fa-trash">Delete</button>
</form>
